<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GÊNEROS - SessãoFlix</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div class="nome text-center">
    <h1>SessãoFlix</h1>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg sticky-top bg-dark rounded-pill">
    <div class="container-md">
      <a class="navbar-brand text-light" href="/">SessãoFlix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Lançamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/filmes">Filmes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/series">Séries</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gêneros
            </a>
            <ul class="dropdown-menu bg-dark bg-gradient">
              <li><a class="dropdown-item text-light" href="#">Animação</a></li>
              <li><a class="dropdown-item text-light" href="#">Comédia</a></li>
              <li><a class="dropdown-item text-light" href="#">Drama</a></li>
              <li><a class="dropdown-item text-light" href="#">Terror</a></li>
              <li><a class="dropdown-item text-light" href="#">Documentários</a></li>
              <li><a class="dropdown-item text-light" href="#">Ficção Científica</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button type="button"  class="btn btn-dark"><i class="bi bi-search text-light fs-5"></i></button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="text-light">Tudo do Gênero: <%= genre %></h2>
  
    <!-- Exibindo filmes -->
    <h3 class="text-light">Filmes</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6">
      <% filmes.forEach(filme => { %>
        <div class="col mb-4">
          <div class="card">
            <img src="https://image.tmdb.org/t/p/w500<%= filme.poster_path %>" class="card-img-top" alt="<%= filme.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= filme.title %></h5>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  
    <!-- Exibindo séries -->
    <h3 class="text-light">Séries</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6">
      <% series.forEach(serie => { %>
        <div class="col mb-4">
          <div class="card">
            <img src="https://image.tmdb.org/t/p/w500<%= serie.poster_path %>" class="card-img-top" alt="<%= serie.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= serie.name %></h5>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  
    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
          <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
  
        <% pages.forEach((p) => { %>
          <li class="page-item <%= page === p ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= p %>"><%= p %></a>
          </li>
        <% }); %>
  
        <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
          <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
